.weixin{
	margin:0 auto;
	width:1050px;
	padding: 9px 0px 10px 0px;
}
.weixin-rows{
	margin: 0 auto;
	display: flex;
	align-items: center;
	width:170px;
}
.weixin-img{
	padding: 10px;
	width: 150px;
	height: 150px;
}