.aboutUsSlider {
  position: relative;
  display:flex;
  justify-content: flex-start;
  
  margin-left: 192px;
  /*height: 300px;*/
  overflow: hidden;
  white-space: nowrap;
}

.aboutUsSlider-wrapper {
/*  position: relative;*/
  height: 100%;
  width: 711px;
  display: flex;
  justify-content: space-between;
}

.aboutUs-rows {
  height: 100%;
  width: 100%;
  display: flex;
}

.aboutus-nextArrow {
  position: absolute;
  top: 50%;
  right: 136px;
  z-index: 999;
  color: black;
  cursor: pointer;
}

.aboutus-backArrow {
	width:100px;
	height: 100px;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 999;
  color: black;
  cursor: pointer;
}