.navbar {
	/*background-color:#eee;*/
	width: 1000px;
	height: 100px;
    z-index: 100;
    margin:0px auto ;
}

.nav {
  width:100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.nav-logo {
	text-decoration:none;
	display: flex;
/*	align-items:flex-end;*/
}
.nav-logo img{
	width: 158.33333px;
	height: 50px;
	padding-right: 20px;
	margin-left: -3px;
	margin-bottom: 3px;
}

.nav-items{
	width:1050px;
	height: 65px;
	padding-left: 20px;
	display:flex;
	flex-wrap: nowrap;
	justify-content:flex-start;
	align-items: flex-end;
	margin: 0;
	font-size:18px;
	/*border-bottom:1px solid #E8E8E8;*/
    padding:3px;
    padding-top:14px;
    padding-bottom: 14px;
	/*background-color:#E8E8E8;*/
	position: fixed;
	z-index: 1000;
	background-color: white;
}

.nav-item {
  color: #979595;	
  padding: 0 0.75rem;
  text-decoration: none;	
  /*width:90px;*/
  /*background-color:greenyellow;
  text-align: center;
  height: 100%;
  line-height: 100%;*/
}



a.nav-item:hover {
	color: red;
	/*border-bottom:1px solid #5CACEE;*/
}

a {
	color: #979595;
}
/*a.nav-item:visited{
	color:blue;
}*/

.nav-items ul {
  width: 650px;
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  margin: 0px;
	
}

.nav-items li {
	text-decoration: none;
	
}



