.jobs-all {
	border:solid 1px #E8E8E8;
	margin-bottom: 10px;
	padding-left: 10px;
	border-radius: 10px;
	font-family:"微软雅黑";
	font-size: 16px;
	margin-left:180px;
	margin-right: 140px;
}

.jobs-title {
	font-size: 22px;
	margin:10px 0;
}
