.technical-title {
	
	line-height: 23px;
	height: 23px;
	/*border-bottom:1px dashed black;*/
	font-size: 16px;
	font-family: "微软雅黑";
/*	text-shadow: 5px 5px 5px yellow;
	font-style: italic;*/
}


a{
	text-decoration: none;
	color: black;
}

.technicalSupportsContents {
    padding-left: 192px;
}
