.technical-content{
	font-family: "微软雅黑";
	margin-left: 192px;
    margin-right: 147px;
    text-align: justify;
}

.technical-content p {
    -webkit-margin-before: 0px;
    margin-block-start: 0px;
    -webkit-margin-after: 0px;
    margin-block-end: 0px;
}

.technical-content-title{
	color:red;
	font-size: 16px;
	font-family: "微软雅黑"
/*	font-style: italic;
	text-shadow: 5px 5px 5px yellow;*/
}
