.contactUs-content {
	line-height: 23px;
	font-size: 16px;
	font-family: "微软雅黑";
	padding-left: 192px;
}
.contactUs-code {
	margin-top:20px;
	padding-left: 192px;
	
}
.contactUs-img {	
	width: 150px;
	height: 150px;
	margin-right: 20px;
	margin-top: 20px;
}
