.titles{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;

    /*padding: 10px;*/
	/*border-radius:5px;*/
	
/*background: rgba(243,243,243,1);*/
	border-radius: 10px;
	margin-top: -2px;
	
}

.title-txt{
	text-align: left;
	margin-left: 10px;
	line-height: 30px;
	
	
}
.title-pic{
	width:405px;
	height: 156px;
}

.news-title-text{
	width: 300px;
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
}

.news-title-text p {
	margin-block-start: 0px;
	margin-block-end:0px;
}

a:hover{
	color:red;
}

a {
	color: #979595;
}
