.news-text{
	margin: 0 0 20px 0px;
	

}
.news-imgs{
	width: 100%;
	
}
.news-img{
	/*border-left:solid 1px black;*/
	/*border-right:solid 1px black;*/
	padding:0px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
	/*border-bottom:2px dashed #696969;*/
}
